@import '../../../styles/variables.scss';

:host {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	height: var(--page-small-header-bar-height);
	background: var(--header-background-color);
	color: var(--secondary-title-color);
	padding: 0;
	transition: top 0.5s;
	&.hidden {
		top: calc(var(--page-small-header-bar-height) * -1);
		@media screen and (min-width: $small-breakpoint) {
			top: calc(var(--page-large-header-bar-height) * -1);
		}
	}
	@media screen and (min-width: $small-breakpoint) {
		height: var(--page-large-header-bar-height);
	}

	.contents {
		display: flex;
		align-items: center;
		gap: 8px;
		width: 100%;
		height: 100%;
		max-width: var(--max-page-width);
		padding: 8px;
		white-space: nowrap;
		margin: 0 auto;
		@media screen and (min-width: $small-breakpoint) {
			gap: 24px;
		}
	}

	h1 {
		flex: 1;
		color: var(--secondary-title-color);
		text-align: start;
		margin: 0;
	}
}

:host:not(.dialog) {
	margin-bottom: 48px;
	h1 {
		font-size: var(--page-title-font-size-small);
		@media screen and (min-width: $small-breakpoint) {
			font-size: var(--page-title-font-size-large);
		}
	}
}

:host.dialog {
	position: relative;
	h1 {
		font-size: var(--mdc-dialog-subhead-size);
	}
}
