:host {
	display: flex;
	align-items: center;
	width: 100%;
	height: 56px;

	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

button.topic {
	flex: none;
	--mat-button-outlined-container-height: 1.5rem;
	--mat-button-outlined-label-text-size: 1rem;
	--mat-button-outlined-horizontal-padding: 8px;
	--mat-button-outlined-container-shape: 24px;
	--mat-button-outlined-outline-color: var(--mat-button-outlined-label-text-color);
	--mat-button-outlined-hover-state-layer-opacity: 0.25;
	&:not(:nth-child(1)):not(:nth-child(2)) {
		margin-left: 12px;
	}
}

// global style
::ng-deep .topic-bottom-sheet {
	position: relative;
	min-height: 300px;
}

button.close-topic {
	position: absolute;
	top: 18px;
	right: 16px;
}
