<div class="header">
	<button class="name" [class.hidden]="!open()" mat-button>{{relationshipName()}}</button>

	<div class="collapsed-header" [class.visible]="!open()">
		@if (collapsedLeftText()) {
		<span class="collapsed-left-text">{{collapsedLeftText()}}</span>
		}
		@if (collapsedRightText()) {
			<span class="collapsed-right-text">{{collapsedRightText()}}</span>
		}
	</div>

	<button class="edit" (click)="onEditClick()" [class.hidden]="!open()" mat-icon-button [attr.aria-label]="'Edit ' + modelName()">
		<mat-icon>edit</mat-icon>
	</button>
	<button class="delete" (click)="onDeleteClick()" [class.hidden]="!open()" mat-icon-button [attr.aria-label]="'Delete ' + modelName()">
		<mat-icon>delete</mat-icon>
	</button>
	@if (collapsible()) {
		<button class="collapse-expand" (click)="onCollapseExpandClick()" mat-icon-button [attr.aria-label]="(open() ? 'Collapse' : 'Expand') + ' card'">
			<mat-icon [class.open]="open()">chevron_right</mat-icon>
		</button>
	}
</div>

<div class="body">
	<ng-content />
</div>

@if (!hideFooter() && relationship()) {
	<div class="footer">
		@if (relationship()!.attentionNeededText) {
			<span>Attention needed:</span>
			<span [style.color]="relationship()!.attentionStatusColor" style="font-style: italic">{{relationship()!.attentionNeededText}}</span>
		} @else {
			<span>&nbsp;</span>
		}
	</div>
}
