@import '../../../styles/variables.scss';

:host {
	display: block;
	max-width: var(--max-page-width);
	padding: var(--page-small-header-bar-height) 8px;
	margin: 0 auto;
	@media screen and (min-width: $small-breakpoint) {
		padding: calc(var(--page-large-header-bar-height) + 12px) 12px 0;
		button.toggle-search {
			display: none;
		}
	}
	&.two-header-rows {
		padding-top: calc(var(--page-small-header-bar-height-with-search));
		@media screen and (min-width: $small-breakpoint) {
			padding-top: calc(var(--page-large-header-bar-height-with-search) + 12px);
		}
	}
}

app-page-header-bar {
	mat-form-field.search ::ng-deep .mat-mdc-form-field-infix {
		display: flex;
		min-height: auto;
	}
	button.close-search {
		flex: none;
		@media screen and (min-width: $small-breakpoint) {
			display: none;
		}
	}
	@media screen and (max-width: $small-breakpoint) {
		mat-form-field.search {
			flex: 1;
			height: 100%;
			::ng-deep .mat-mdc-text-field-wrapper {
				height: 100%;
			}
			::ng-deep	.mat-mdc-form-field-infix {
				padding: 10px 0;
			}
		}
	}
}

p {
	max-width: var(--max-paragraph-width);
}

mat-spinner {
	position: fixed;
	top: calc(50vh - 37.5px);
	left: calc(50vw - 37.5px);
}
