<app-page-header-bar page-title="Relationships" [second-row-template]="search" [show-second-row]="showSearchBar()">
	<ng-container #firstRow></ng-container>
	<a routerLink="/interactions" mat-button>Interactions</a>

	<button class="toggle-search" (click)="onSearchClick()" mat-icon-button aria-label="Search relationships">
		<mat-icon>search</mat-icon>
	</button>

	<button [matMenuTriggerFor]="menu" mat-icon-button matTooltip="More actions" aria-label="More actions menu">
		<mat-icon>more_vert</mat-icon>
	</button>

	<mat-menu #menu="matMenu" class="custom-mat-panel">
		<button (click)="onAddRelationshipClick()" mat-menu-item>
			<mat-icon>add</mat-icon>
			<span>Add Relationship</span>
		</button>
		@if (!allGroupsExpanded()) {
			<button (click)="onCollapseOrExpandAllClick(true)" mat-menu-item>
				<mat-icon>unfold_more</mat-icon>
				<span>Expand All Groups</span>
			</button>
		}
		@if (!allGroupsCollapsed()) {
			<button (click)="onCollapseOrExpandAllClick(false)" mat-menu-item>
				<mat-icon>unfold_less</mat-icon>
				<span>Collapse All Groups</span>
			</button>
		}
	</mat-menu>
</app-page-header-bar>

@if (hasRelationships()) {
	<p>
		Relationships are divided into groups based on the interaction goals you've set,
		and how long it's been since you last interacted with them.
	</p>
} @else if (groupedRelationships().length) {
	<p>
		Add relationships through the menu botton in the top right.
		Once added, they will appear here.
	</p>
}

@if (isLoadingRelationships()) {
	<mat-spinner diameter="75" />
}
@else {
	@for (group of filteredGroupedRelationships(); track group.status) {
		@if (group.relationships.length) {
			<app-card-group
				(header-click)="onCardGroupHeaderClick()"
				[header]="group.status"
				[card-count]="group.relationships.length"
				[header-color]="group.statusColor"
				[is-card-in-group-highlighted]="group.status === highlightedCard().groupStatus"
			>
				@for (relationship of group.relationships; track relationship._id; let index = $index) {
					<app-card
						[relationship]="relationship"
						(edit-relationship)="onEditRelationshipClick($event)"
						(delete-relationship)="onDeleteRelationshipClick($event)"
						[scroll-to-and-highlight]="group.status === highlightedCard().groupStatus && index === highlightedCard().indexInGroup"
					>
						<app-relationship-card-content [relationship]="relationship" />
					</app-card>
				}
			</app-card-group>
		}
	}
}

<ng-template #search>
	<mat-form-field class="search" subscriptSizing="dynamic" appearance="outline">
		<input [(ngModel)]="searchValue" onfocus="this.select()" placeholder="Search" aria-label="Search relationships" [matAutocomplete]="autocomplete" matInput type="search" />
	</mat-form-field>

	<mat-autocomplete [class]="['custom-mat-panel', 'custom-scrollbar']" #autocomplete="matAutocomplete" [hideSingleSelectionIndicator]="true">
		@for (name of filteredNames(); track name) {
			<mat-option [value]="name">{{name}}</mat-option>
		}
	</mat-autocomplete>

	<button class="close-search" (click)="onSearchClick(false)" mat-icon-button aria-label="Close search" type="button">
		<mat-icon>close</mat-icon>
	</button>
</ng-template>
