<app-page-header-bar [dialog]="true" justify-content="center">
	{{pageHeading()}}
</app-page-header-bar>

<mat-dialog-content class="custom-scrollbar">
	<form (ngSubmit)="onSaveClick()" [formGroup]="form">

		@if (data.showRelationshipPicker) {
			<section class="relationship" aria-labelledby="relationship-details-title">
				<h2 id="relationship-details-title">Relationship</h2>

				<mat-form-field hintLabel="Who did you interact with?" appearance="outline" floatLabel="auto">
					<mat-label>Name of person</mat-label>
					<select formControlName="idOfRelationship" required matNativeControl>
						@for (relationship of relationships(); track relationship._id) {
							<option [value]="relationship._id">{{relationship.firstName}} {{relationship.lastName}}</option>
						}
					</select>
					@if (form.controls.idOfRelationship.hasError('required')) {
						<mat-error>Relationship is required</mat-error>
					}
				</mat-form-field>
			</section>
		}

		<section class="interaction-details" aria-labelledby="interaction-details-title">
			<h2 id="interaction-details-title">Interaction Details</h2>

			<mat-form-field appearance="outline" floatLabel="auto">
				<mat-label>Type of interaction</mat-label>
				<select formControlName="type" required matNativeControl>
					<option [value]="typeOptions.PhoneCall">Phone Call</option>
					<option [value]="typeOptions.Texting">Text</option>
					<option [value]="typeOptions.Email">Email</option>
					<option [value]="typeOptions.InPerson">In Person</option>
					<option [value]="typeOptions.VideoCall">Video Call</option>
					<option [value]="typeOptions.OnlineGaming">Online Gaming</option>
					<option [value]="typeOptions.SnailMail">Physical Mail</option>
					<option [value]="typeOptions.SocialMedia">Social Media</option>
					<option [value]="typeOptions.VoiceMail">Voice Mail</option>
					<option [value]="typeOptions.Other">Other</option>
				</select>
				@if (form.controls.type.hasError('required')) {
					<mat-error>Type of interaction is required</mat-error>
				}
			</mat-form-field>

			<mat-form-field appearance="outline" floatLabel="auto">
				<mat-label>Date</mat-label>
				<input matInput [matDatepicker]="datePicker" formControlName="date" required>
				<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
				<mat-datepicker #datePicker></mat-datepicker>
				@if (form.controls.date.hasError('required')) {
					<mat-error>Date is required</mat-error>
				}
			</mat-form-field>
		</section>

		<section class="topics" formArrayName="topicsDiscussed" aria-labelledby="topics-title">
			<h2 id="topics-title">
				Topics Discussed
				<button (click)="onAddTopicClick()" class="add-topic-mobile" mat-icon-button aria-label="Add Topic" type="button">
					<mat-icon>add</mat-icon>
				</button>
				<button (click)="onAddTopicClick()" class="add-topic-desktop" mat-stroked-button aria-label="Add Topic" type="button">
					Add Topic
				</button>
			</h2>

			@for (topic of form.controls.topicsDiscussed.controls; track topic; let index = $index) {
				<div class="topic-card" [formGroupName]="index">

					<mat-form-field hintLabel="What topic did you discuss?" appearance="outline" floatLabel="auto">
						<mat-label>Topic</mat-label>
						<input matInput formControlName="topic" required>
						@if (topic.hasError('required')) {
							<mat-error>Topic is required</mat-error>
						}
					</mat-form-field>

					<button (click)="onRemoveTopicClick(index)" mat-icon-button aria-label="Remove Topic" type="button">
						<mat-icon>remove</mat-icon>
					</button>

					<mat-form-field hintLabel="What do you want to remember about this topic?" appearance="outline" floatLabel="auto">
						<mat-label>Notes</mat-label>
						<textarea matInput formControlName="notes" rows="5"></textarea>
					</mat-form-field>

				</div>
			}
		</section>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<button (click)="onCancelClick()" [mat-dialog-close]="false" mat-button>Cancel</button>
	<button (click)="onSaveClick()" mat-button>Save</button>
</mat-dialog-actions>
