@import '../../../styles/variables.scss';

:host {
	display: block;
	@media screen and (max-width: $small-breakpoint) {
		--mat-dialog-with-actions-content-padding: var(--small-dialog-content-padding);
		--mat-dialog-actions-padding: var(--small-dialog-actions-padding);
	}
}

mat-form-field ::ng-deep .mat-mdc-form-field-subscript-wrapper {
	font-size: 0.8rem;
}

h2 {
	font-size: 1.15rem;
}

section.relationship {
	h2 {
		margin-top: 0;
	}
}

section.relationship,
section.interaction-details {
	padding-bottom: 20px;
	border-bottom: 2px solid var(--large-card-border-color);
	mat-form-field {
		display: flex;
		width: min-content;
		@media screen and (min-width: $small-breakpoint) {
			display: inline-flex;
			width: unset;
		}
	}
}

section.interaction-details {
	h2 {
		margin-top: 0;
	}
	@media screen and (min-width: $small-breakpoint) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 24px;
		h2 {
			grid-column-start: 1;
			grid-column-end: -1;
		}
	}
}

section.topics {
	h2 {
		display: flex;
		align-items: center;
		margin: 20px 0;
		button {
			margin-left: auto;
		}
	}

	app-card {
		width: 100%;
		margin-bottom: 24px;
	}

	.topic-card {
		background: var(--card-background);
		position: relative;
		padding: 20px 12px;
		border: 1px solid var(--large-card-border-color);
		border-radius: var(--large-border-radius);
		margin-bottom: 24px;
		mat-form-field:has(input) {
			min-width: 220px;
		}
		button.cancel-edit,
		button.save-topic {
			position: absolute;
			font-size: 1.05rem;
		}
		button.cancel-edit {
			right: 128px;
		}
		button.save-topic {
			right: 12px;
		}
		mat-form-field:not(:last-child) {
			margin-bottom: 24px;
		}
		mat-form-field:nth-of-type(2) {
			width: 100%;
			min-height: 4em;
		}
	}
}
