@import '../../../styles/variables.scss';

:host {
	display: block;
}

h2 {
	font-size: 1.15rem;
}

section.relationship {
	h2 {
		margin-top: 0;
	}
}

section.relationship,
section.interaction-details {
	padding-bottom: 20px;
	border-bottom: 2px solid var(--large-card-border-color);
	mat-form-field {
	display: flex;
		width: min-content;
	}
}

section.interaction-details {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	h2 {
		flex: none;
		width: 100%;
	}
	mat-form-field {
		flex: 1;
	}
}

section.topics {
	position: relative;
	padding-top: 20px;
	h2 {
		display: flex;
		align-items: center;
		margin: 0 0 20px;
		button {
			margin-left: auto;
		}
	}
	button.add-topic {
		position: absolute;
		top: 13px;
		right: 0;
		font-size: 1.05rem;
	}
	app-card {
		width: 100%;
		margin-bottom: 24px;
	}
}
