@import '../../../styles/variables.scss';

:host {
	position: relative;
	display: block;
	border: 1px solid var(--header-background-color);
	border-radius: var(--primary-border-radius);
	margin-top: 32px;
	h2 {
		border-top-left-radius: var(--primary-border-radius);
		border-top-right-radius: var(--primary-border-radius);
		font-size: 1.35rem;
		margin: 0;
		button {
			display: flex;
			align-items: center;
			gap: 12px;
			cursor: pointer;
			background: var(--header-background-color);
			color: inherit;
			width: 100%;
			font-size: inherit;
			text-align: start;
			padding: 12px;
			border: none;
			border-top-left-radius: var(--primary-border-radius);
			border-top-right-radius: var(--primary-border-radius);
			&:hover {
				background: var(--header-hover-color);
			}
			mat-icon {
				margin-left: auto;
				transition: transform 0.5s;
				&.open {
					transform: rotate(-90deg);
				}
				&:not(.open) {
					transform: rotate(90deg);
				}
			}
		}
	}
	.cards {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 32px;
		overflow-x: hidden;
		overflow-y: hidden;
		padding: 12px 4px 0;
		transition:
			max-height 0.5s, // set in template
			padding-top 0.5s,
			padding-bottom 0.5s,
			overflow-x 0.5s;

		&.hidden {
			padding-top: 0;
			padding-bottom: 0;
			overflow-x: hidden;
		}

		@media screen and (min-width: $small-breakpoint) {
			flex-direction: row;
			overflow-x: auto;
			padding: 16px 12px 16px;
		}
	}

	button.scroll {
		position: absolute;
		top: 49px;
		bottom: 0;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;

		background: #3b82f640;
		color: var(--primary-accent-color);
		padding: 0;
		border: none;
		cursor: pointer;
		z-index: 1;

		&.left {
			left: 0;
		}
		&.right {
			right: 0;
		}
		&.hidden {
			display: none;
		}
		&:hover {
			background: rgba(59, 130, 246, 0.65);
			color: var(--header-background-color);
			mat-icon.mat-icon {
				color: black;
			}
		}

		mat-icon.mat-icon {
			font-weight: bold;
			overflow: visible;
		}
	}
}
