@import '../../../styles/variables.scss';

:host {
	display: block;
	border: 1px solid var(--header-background-color);
	border-radius: var(--primary-border-radius);
	margin-top: 32px;
	h2 {
		border-top-left-radius: var(--primary-border-radius);
		border-top-right-radius: var(--primary-border-radius);
		font-size: 1.35rem;
		margin: 0;
		button {
			display: flex;
			align-items: center;
			gap: 12px;
			cursor: pointer;
			background: var(--header-background-color);
			color: inherit;
			width: 100%;
			font-size: inherit;
			text-align: start;
			padding: 12px;
			border: none;
			border-top-left-radius: var(--primary-border-radius);
			border-top-right-radius: var(--primary-border-radius);
			&:hover {
				background: var(--header-hover-color);
			}
			mat-icon {
				margin-left: auto;
				transition: transform 0.5s;
				&.open {
					transform: rotate(-90deg);
				}
				&:not(.open) {
					transform: rotate(90deg);
				}
			}
		}
	}
	.card-scroll {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 32px;
		overflow-x: hidden;
		overflow-y: hidden;
		max-height: 200vh;
		padding: 8px 4px 0;
		transition:
			max-height 0.5s,
			padding-top 0.5s,
			padding-bottom 0.5s,
			overflow-x 0.5s;

		&.hidden {
			max-height: 0;
			padding-top: 0;
			padding-bottom: 0;
			overflow-x: hidden;
		}

		@media screen and (min-width: $small-breakpoint) {
			flex-direction: row;
			overflow-x: auto;
			max-height: 330px;
			padding: 16px 12px 16px;
		}
	}
}
