@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

:host {
	position: relative;
	display: block;
	border: 1px solid var(--header-background-color);
	border-radius: var(--primary-border-radius);
	margin-top: 32px;
	h2 {
		position: sticky;
		top: 0;
		z-index: 3;
		border-top-left-radius: var(--primary-border-radius);
		border-top-right-radius: var(--primary-border-radius);
		font-size: 1.35rem;
		margin: 0;
		transition: top 0.5s;;
		// offset top value to accomodate page header bar when it's visible
		&.offset-top {
			top: var(--page-small-header-bar-height);
			@media screen and (min-width: $small-breakpoint) {
				top: calc(var(--page-large-header-bar-height) + 4px);
			}
		}
		> button {
			display: flex;
			align-items: center;
			gap: 12px;
			cursor: pointer;
			background: var(--header-background-color);
			color: inherit;
			width: 100%;
			font-size: inherit;
			text-align: start;
			padding: 12px;
			border: none;
			border-top-left-radius: var(--primary-border-radius);
			border-top-right-radius: var(--primary-border-radius);
			&:hover {
				background: var(--header-hover-color);
			}
			mat-icon {
				margin-left: auto;
				transition: transform 0.5s;
				&.open {
					transform: rotate(-90deg);
				}
				&:not(.open) {
					transform: rotate(90deg);
				}
			}
		}

		.group-actions {
			position: relative;
			top: -31px;
			overflow: hidden;
			height: 0;
			z-index: -1;
			display: flex;
			justify-content: end;
			align-items: center;
			background: var(--header-background-color);
			transition:
				top 0.5s,
				height 0.5s,
				border-top 0.5s;
			&.show {
				top: 0;
				height: 31px;
				border-top: 2px solid var(--page-background-color);
			}

			button {
				height: 1.8rem;
				font-size: 0.9rem;
			}
		}

		.table-header {
			&.relationships {
				@include relationship-grid();
			}
			&.interactions {
				@include interaction-grid();
			}
			position: relative;
			top: -30px;
			z-index: -1;
			height: 0;
			margin-top: 4px;

			border: none;
			border-radius: var(--primary-border-radius);
			background: var(--page-background-color);
			color: var(--primary-title-color);

			font-size: 1rem;
			font-weight: bold;
			padding: 0 16px;

			transition:
				top 0.5s,
				height 0.5s,
				border 0.5s,
				padding 0.5s;

			&.show {
				top: 0;
				height: 29px;
				border: 1px solid var(--large-card-border-color);
				padding: 4px 16px 4px;
			}
		}
	}

	.entries {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 32px;

		overflow: hidden;
		padding: 12px 4px 0;

		transition:
			max-height 0.5s, // set in template
			padding-top 0.5s,
			padding-bottom 0.5s,
			overflow-x 0.5s;

		&.hidden {
			padding-top: 0;
			padding-bottom: 0;
		}

		@media screen and (min-width: $small-breakpoint) {
			gap: 20px;
		}
	}

}
