:host {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

h1 {
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
}
