:root,
:host {
	--sys-background: #111318;
	--sys-on-background: #e1e2e9;
	--sys-surface: #111318;
	--sys-surface-dim: #111318;
	--sys-surface-bright: #37393e;
	--sys-surface-container-lowest: #0c0e13;
	--sys-surface-container-low: #191c20;
	--sys-surface-container: #1d2024;
	--sys-surface-container-high: #282a2f;
	--sys-surface-container-highest: #32353a;
	--sys-on-surface: #e1e2e9;
	--sys-surface-variant: #43474e;
	--sys-on-surface-variant: #c3c6cf;
	--sys-inverse-surface: #e1e2e9;
	--sys-inverse-on-surface: #2e3035;
	--sys-outline: #8d9199;
	--sys-outline-variant: #43474e;
	--sys-shadow: #000000;
	--sys-scrim: #000000;
	--sys-surface-tint: #a1cafd;
	--sys-primary: #45a5ff;
	--sys-on-primary: #003259;
	--sys-primary-container: #1a4975;
	--sys-on-primary-container: #d2e4ff;
	--sys-inverse-primary: #37618e;
	--sys-secondary: #a2c9fe;
	--sys-on-secondary: #00325a;
	--sys-secondary-container: #1d4875;
	--sys-on-secondary-container: #d2e4ff;
	--sys-tertiary: #635cff;
	--sys-on-tertiary: #412356;
	--sys-tertiary-container: #593a6f;
	--sys-on-tertiary-container: #f3daff;
	--sys-error: #ffb4ab;
	--sys-on-error: #561e19;
	--sys-error-container: #73342d;
	--sys-on-error-container: #ffdad5;
	--sys-neutral: #75777d;
	--sys-neutral-variant: #73777f;
	--sys-primary-fixed: #d2e4ff;
	--sys-primary-fixed-dim: #a1cafd;
	--sys-on-primary-fixed: #001d36;
	--sys-on-primary-fixed-variant: #1a4975;
	--sys-secondary-fixed: #d2e4ff;
	--sys-secondary-fixed-dim: #a2c9fe;
	--sys-on-secondary-fixed: #001c38;
	--sys-on-secondary-fixed-variant: #1d4875;
	--sys-tertiary-fixed: #f3daff;
	--sys-tertiary-fixed-dim: #dfb8f7;
	--sys-on-tertiary-fixed: #2a0c40;
	--sys-on-tertiary-fixed-variant: #593a6f;
	--sys-inverse-secondary: #38608f;
	--sys-inverse-tertiary: #725188;
	--sys-inverse-error: #904a43;
	--sys-error-fixed: #ffdad5;
	--sys-error-fixed-dim: #ffb4ab;
	--sys-on-error-fixed: #3b0907;
	--sys-on-error-fixed-variant: #73342d;
}
