.interaction-type {
	display: flex;
	align-items: center;
	gap: 8px;
}

.topics {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 2;
}

.topics-title {
	height: min-content;
	background: var(--header-hover-color);
	text-align: center;
}

.topics-title,
app-topic-buttons {
	position: relative;
	left: -12px;
	width: calc(100% + 24px);
}
