<ng-template #content>
	<span>{{ interaction().type }}</span>
	<span>{{ interaction().date | date }}</span>

	@if (interaction().topicsDiscussed.length) {
		<div class="topics">
			<div class="topics-title">Topics Discussed</div>
			<div class="topic-buttons" #topics>
				@for (topic of interaction().topicsDiscussed; track topic.topic) {
					<button class="topic" (click)="onTopicClick(topic)" mat-stroked-button>{{topic.topic}}</button>
				}
			</div>
			<app-horizontal-scroll-buttons [scrollableElement]="topics" [scroll-amount-px]="200" [button-top-px]="19" [button-x-px]="-12" [button-bottom-px]="-19" no-opacity />
		</div>
	}
</ng-template>

<ng-template #topicNotes>
	<h3>{{selectedTopic()?.topic}}</h3>
	<p [innerHTML]="selectedTopic()?.notes | newlinesToBr"></p>
	<button (click)="onCloseTopicClick()" class="close-topic" mat-icon-button><mat-icon>close</mat-icon></button>
</ng-template>
