mat-chip-set,
.topics-title {
	grid-column-start: 1;
	grid-column-end: -1;
}

.topics-title,
mat-chip-set {
	grid-row-start: 2;
}

.topics-title {
	position: relative;
	left: -12px;
	width: calc(100% + 24px);
	height: min-content;
	background: var(--header-hover-color);
	text-align: center;
	margin-bottom: 16px;
}

mat-chip-set {
	margin-top: 32px;
	::ng-deep .mdc-evolution-chip-set__chips {
		flex-wrap: nowrap;
		overflow-x: auto;
	}
}

// global style
::ng-deep .topic-bottom-sheet {
	position: relative;
	min-height: 300px;
}

button.close-topic {
	position: absolute;
	top: 18px;
	right: 16px;
}
