mat-chip-set,
.topics-title {
	grid-column-start: 1;
	grid-column-end: -1;
}

.topics-title {
	flex: none;
	position: relative;
	left: -5px;
	width: calc(100% + 25px);
	background: var(--header-hover-color);
	text-align: center;
	margin-bottom: 16px;
}
