@import '../../../styles/variables.scss';

:host {
	display: block;
}

h2 {
	font-size: 1.15rem;
}

section.relationship-details form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-bottom: 2px solid var(--large-card-border-color);
	h2 {
		margin: 0 0 20px;
	}
	@media screen and (min-width: $dialog-max-width) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 24px;
		row-gap: 8px;

		h2 {
			grid-column-start: 1;
			grid-column-end: -1;
		}
		mat-form-field {
			display: inline-flex;
			width: unset;
			&.interaction-goal,
			&.notes {
				grid-column-start: 1;
				grid-column-end: -1;
			}
		}
	}
}

section.interactions {
	.interactions-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 16px;

		app-card {
			width: 100%;
		}
	}

	h2 {
		grid-column-start: 1;
		grid-column-end: -1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 16px 0;
		button {
			font-size: initial;
		}
	}

	p {
		margin: 24px 0;
	}
}
