.notes {
	grid-column-start: 1;
	grid-column-end: -1;
	line-height: 1.5;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}
.interaction-goal-label,
.interaction-goal-value {
	align-self: self-end;
}
.interaction-goal-value,
.last-contact-value {
	justify-self: self-end;
}
