@import '../../../styles/variables.scss';

:host {
	display: block;
}

h1 {
	margin: 0;
}

section.relationship-details form {
	padding: 0 12px 12px;
	border-bottom: 2px solid var(--large-card-border-color);
	mat-form-field {
		display: flex;
		&.interaction-goal {
			margin-bottom: 16px;
			@media screen and (max-width: 384px) {
				margin-bottom: 24px;
			}
		}
	}
	@media screen and (min-width: $small-breakpoint) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 24px;
		row-gap: 8px;

		h2 {
			grid-column-start: 1;
			grid-column-end: -1;
		}
		mat-form-field {
			display: inline-flex;
			width: unset;
			&.interaction-goal,
			&.notes {
				grid-column-start: 1;
				grid-column-end: -1;
			}
			&.interaction-goal {
				margin: 0;
			}
			&.notes {
				margin-top: 24px;
			}
		}
	}
}

section.interactions {
	padding: 0 12px 12px;

	.interactions-container {
		display: grid;
		grid-template-columns: 1fr;
		align-items: start;
		gap: 24px;
		@media screen and (min-width: $small-breakpoint) {
			grid-template-columns: 1fr 1fr;
			column-gap: 12px;
			row-gap: 20px;
		}
		@media screen and (min-width: $medium-breakpoint) {
			grid-template-columns: 1fr 1fr 1fr;
			column-gap: 32px;
			row-gap: 52px;
		}
	}

	h2 {
		position: relative;
		grid-column-start: 1;
		grid-column-end: -1;
		margin: 32px 0;
		button {
			position: absolute;
			top: 0;
			right: 0;
			font-size: initial;
		}
		button.add-interaction-mobile {
			mat-icon {
				transform: scale(1.6);
			}
			@media screen and (min-width: $small-breakpoint) {
				display: none;
			}
		}
		button.add-interaction-desktop {
			display: none;
			align-items: center;
			@media screen and (min-width: $small-breakpoint) {
				display: flex;
			}
		}
	}

	p {
		margin: 24px 0;
	}
}
