
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$relationships-client-theme: mat.define-theme((
	color: (
		theme-type: dark,
		primary: mat.$azure-palette,
		tertiary: mat.$blue-palette,
		use-system-variables: true,
	),
	typography: (
		use-system-variables: true,
	),
	density: (
		scale: 0,
	)
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
	@include mat.all-component-themes($relationships-client-theme);
	// @include mat.system-level-colors($relationships-client-theme);
	// @include mat.system-level-typography($relationships-client-theme);

	--mat-option-focus-state-layer-color: var(--header-background-color);
	--mdc-outlined-text-field-container-shape: var(--primary-border-radius);
	--mdc-dialog-subhead-size: 1.5rem;
	--mdc-text-button-label-text-size: 1.25rem;
	--mat-bottom-sheet-container-background-color: var(--card-background);
	--mdc-dialog-container-color: var(--card-background);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($relationships-client-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($relationships-client-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
