@if (relationship()) {
	<button class="name" (click)="onEditClick()" mat-button>{{relationship()!.fullName}}</button>
	<span class="notes">{{relationship()!.notes || 'No notes'}}</span>
	<span class="interaction-goal">{{relationship()!.interactionRateGoal || 'No goal set'}}</span>
	<span class="last-contact">{{relationship()!.lastInteractionRelativeTime || 'N/A'}}</span>
	<span class="interaction-count">{{relationship()!.interactions.length}}</span>
} @else if (interaction()) {
	<button class="name" (click)="onRelationshipNameClick()" mat-button>{{interaction()!.nameOfPerson}}</button>
	<span class="type"><mat-icon>{{ interaction()!.typeIcon }}</mat-icon> {{interaction()!.type}}</span>
	<span class="date">{{interaction()!.date! | simpleDate}}</span>
	<app-topic-buttons [topics]="interaction()!.topics" />
}

<div class="buttons">
	<button class="edit" (click)="onEditClick()" [matTooltip]="'Edit ' + modelName()" mat-icon-button [attr.aria-label]="'Edit ' + modelName()" type="button">
		<mat-icon>edit</mat-icon>
	</button>
	<button class="delete" (click)="onDeleteClick()" [matTooltip]="'Delete ' + modelName()" mat-icon-button [attr.aria-label]="'Delete ' + modelName()" type="button">
		<mat-icon>delete</mat-icon>
	</button>
</div>
